main {
  min-height: 80vh;
}

h2 {
  padding: 1rem 0;
}

h5 {
  margin-top: 3em;
  text-transform: none;
}

form {
  display: flex;
  flex-direction: column;
  width: 40%;
}

input {
  margin-top: 5px;
}
